{% extends 'author1/base.html' %}


{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Stay in touch... </h1>
        You can email me at robertselkirkknox@yahoo.com
    </div>
    <div>
        If you would like to be added to the mailing list, fill out the form below.
    </div>
    <hr>
</div>
<div>
    <form class="form-horizontal" action="/myapi/register_email" method="GET">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" name="name">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <button type="submit" class="btn btn-primary" >Add My Email</button>
    </form>

</div {% endblock %}

