{% extends 'author1/base.html' %}

{% block content %}
<div class="container">
</div>
<div>
    <form class="form-horizontal" action="/myapi/create_user" method="GET">
        <div class="form-group">

            <label for="name">First Name</label>
            <input type="name" class="form-control" id="firstname" name="firstname">

            <label for="name">Last Name</label>
            <input type="name" class="form-control" id="lastname" name="lastname">

            <label for="name">Username</label>
            <input type="name" class="form-control" id="username" name="username">

            <label for="name">Password</label>
            <input type="name" class="form-control" id="password" name="password">

            <label for="name">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        </div>

        <button type="submit" class="btn btn-primary" >Create User</button>
    </form>

</div {% endblock %}

