{% extends 'author1/base.html' %}


{% block content %}

<hr>

<h2> The following excerpt is the first chapter from <i> Sirenes In The Ferns</i> </h2>

<hr>
<h2>
    <p class="P14">Lady In The Road</p>
</h2>
<p class="P13"> </p>
<p class="P2">Sometime in late October I got a call from my father. We had had a falling out a few years before and
    really hadn’t spoken much in the intervening years. I remember it was just after the earthquake of 89. Parts of the
    Embarcadero freeway had collapsed and Cal-Trans was in the process of tearing it down. When you drove past the
    wreckage
    there was a
    feeling that the city was at war with someone or something. You saw huge chunks of concrete broken and twisted,
    exposing the evenly spaced re-bar, like a dead dog cut open, showing its ribs. It left you feeling a little sad for
    the freeway. But that only lasted for those first few months after the quake. Pretty soon you hardly noticed the
    huge pieces of fallen freeway and flattened houses lying in rubble around town. It seemed normal, like
    they had always been there, like they would always be there.</p>
<p class="P2"> </p>
<p class="P2">“I got some news the other day,” said my father. “I would like to talk to you. Why don’t you come over for
    a beer?”</p>
<p class="P2"> </p>
<p class="P2">So I did. It turned out he was dying of cancer. That was his news. It was a Hell of a news flash.</p>
<p class="P2"> </p>
<p class="P2">“Beer?” he asked. “Let’s go out to the backyard. We can look up at the stars and hear the crickets,” he
    said.</p>
<p class="P2"> </p>
<p class="P2">He handed me a beer, a Coors. That was his beer. We walked out to the backyard patio and sat down on two
    folding green lounge chairs. </p>
<p class="P2"> </p>
<p class="P2">We ended up talking the whole night. Not really about his cancer, but about us, about what had happened
    between us, about why we hadn’t seen much of each other for the last few years. We talked about our lives mostly. I
    suppose I have the cancer to thank for that. If it hadn’t been for the cancer that night, and it was a magical night
    full or stars, Coors beer and the singing of millions of crickets, might never have happened. And when a night like
    that happens, you can spend a long time trying to repeat it … because it was that good.</p>
<p class="P2"> </p>
<p class="P2">I got into the habit of coming over to his house, the house in which I was raised, every Saturday evening.
    We would sit side by side on two folding green lounge chairs on the concrete patio and look up at the stars.
    Sometimes the red light of a single engine Cessna would meander across the sky and we would wonder out-loud if it
    were a UFO. If the light seemed to hang in the air, not moving forward or backward for a time, or reverse direction
    a little too quickly, we classified it as UFO. And, I have to say, we saw a couple of very strange things. I can't
    say if they were UFOs, but there were some very unusual things. Sometimes a shooting star would scratch a little
    white line on top of that wad of sky. </p>
<p class="P2"> </p>
<p class="P2">I came every Saturday, all through the crisp fall nights that year, the cold winter ones, the fragrant
    spring evenings, and before I knew it, the summer had come again, and we were sitting in t-shirts and drinking Coors
    because we were thirsty from sweating so much.</p>
<p class="P2"> </p>
<p class="P10">“There are some things I need to tell you,” he said.</p>
<p class="P10">“OK,” I said.</p>
<p class="P10">“Not now. It's not the right time. It has to be the right moment ...”</p>
<p class="P10">“OK,” I said.</p>
<p class="P10" />
<p class="P10"> </p>
<p class="P10"> </p>
<p class="P10">“I should warn you … you might not like what I have to say,” he said.</p>
<p class="P10">“That's OK,” I said.</p>
<p class="P10">“It is a little hard to talk about,” he said.</p>
<p class="P10">“Whenever you are ready,” I said.</p>
<p class="P10">I was going to say something like: “We have plenty of time” when I stopped myself. Because we really
    didn’t have plenty of time, not anymore. I just kept my mouth shut and nodded.</p>
<p class="P10">I was coming back from one of these weekly visits, navigating all the curves of the mountain road that
    meanders through the redwoods and ferns of the Santa Cruz mountains when I saw her in my headlights, her body lit in
    the two circles of light, lying out on the road like she was talking a nap. But when you got up close, you could see
    it was no ordinary nap. It was the kind of nap that would last a long, long time. </p>
<p class="P10">There was really no place to pull off the road. So I just stopped, put on my hazards, and got out to take
    a look. That's when I noticed all the blood coming from the back of her head. From the front, you could not see a
    scratch on her face. She looked like a pouting, beautiful, Swedish model, like an Anika Eckberg in the old Fellini
    films, but even in the dark I could see all the wet black stuff coming from the back of head that I knew it wasn't
    suppose to be there. She was about 35, I guessed, big hips, wide shoulders, blond hair down to her shoulders. She
    was wearing an old pair of blue jeans, a red bandanna and cowboy boots. She looked kind of like a Swedish cowgirl. I
    didn't want to move her, but I knew at any minute a car would bust around the bend and take out both of us. So I
    picked her up like a baby and carried her off the road, up little knoll and into the bushes where there was flat
    area. Then I laid her down as carefully as I could, trying to find a grouping of ferns to put behind her head so
    that the hole in the back of her skull would not pick up any dirt or rocks or redwood needles. She seemed nice. I
    don't know why I thought that exactly. We really hadn't formally been introduced. I guess I thought she had a nice
    face. And she really did have a nice face, an honest face, a friendly face, a trusting face. A car passed on the
    highway, swerving just in time to avoid a collision with the back of my Honda CRV, honking like crazy, mad as hell.
    The driver was right, of course, to be angry. It was a very dangerous place to leave a car, right in the blind spot
    of a curve at night. My car was going to get smashed. The worst place to leave a car at night is just past a curve.
    The oncoming drivers have no way of knowing there is something in the road right around the bend. People just rip on
    through the turns with all the confidence in the world that whatever is on the other side of the turn won't hurt
    them, and they plow right into the what ever is there. But often, those things, the things we can't see, just on the
    other side of the bend, can hurt us a lot.</p>
<p class="P10">I ran back to my car and drove it right off the road into a ditch about foot and a half deep, wondering
    how the hell I was ever going to get my car out again. But It was the only thing I could do.</p>
<p class="P10">Then I scampered back up the bushy incline to where I had left the girl. To my surprise, she was gone.
    For a second I had to wonder if I was going crazy. It was a heavily forested area, big redwoods, manzanita, sword
    ferns, huckleberry, trillium all around. Inside that wilderness all you could see were shadows and darkness, and I
    wondered if I had found the right spot. I felt around in the darkness for a while. Finally I could make out the
    little pile of ferns I had used as a cushion for her head. The blood had clumped the fronds together and was
    beginning to dry. I looked around. It was so dark all I could see was black. I listened. I could hear cars whizzing
    by on the road down below, and sometimes the headlights of a passing car would throw a little light onto the ferns
    around me, not enough enough to get clear picture, but just enough hint at the surrounding, the ferns, the shadows,
    the little bluff. I listened. No footsteps. No moaning. No groaning. No rustling of leaves. No breathing.
    Darkness is really just the unknown. We are all more afraid of the monsters
    we can’t than the monsters we can. The brush was so thick you couldn't take a step without cracking some dry
    branches or twigs. I listened for anything that moved, but nothing did.</p>
<p class="P10">I begin to think I might have imagined the whole thing, but I hadn't imagined all the blood on my
    trousers. I had the feeling she must be near. She had to be. Where could she have gone? It was so damn dark she
    could have been sitting right next to me and I wouldn't have seen her. I listened some more. Then I whispered into
    the darkness.</p>
<p class="P10">“Is anyone there?” </p>
<p class="P10">Nobody answered. I tried again, a little louder this time. I don't know why I was whispering. I should
    have been shouting, but I guess I was afraid … afraid of whatever might be lurking in the shadows. Then I listened
    some more. Nothing. I listened some more. There was nothing there. </p>
<p class="P10">I was getting the spooks, feeling around in the dark for my dead Swedish cowgirl. There are a lot of big
    animals in those woods: mountain lion, deer, raccoon, coyotes, rats, rattlesnakes, not to mention the all dead
    Swedish people that vanish into the night. I had somehow lost, let's just say misplaced, my dead Swedish cowgirl. I
    heard a branch snapping and stood up. A car drove by on the road below, tossing a little light <span class="T7">on
        the clearing</span>. I realized that I had found my dead Swedish cowgirl. She was standing right in front of me,
    pointing a pistol at me.</p>
{% endblock %}