{% extends 'author1/base.html' %}


{% block content %}
<h1 class="western" align="justify" style="page-break-before: always">
Lady In The Road</h1>
<h1 class="western" align="justify"><br/>

</h1>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">I
remember the earthquake had just happened a couple days before, the
big one in 89.  So when the phone rang and I heard my father’s
voice on the other end of line, I assumed he was calling to see if I
had made it through in one peace, or if all that shaking had perhaps
done me some good and shaken some sense into me. 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“I’m
fine.” I told him. “How about you? Did you feel it?”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“I
felt it,” he said.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Parts
of the freeway collapsed. Buildings in the Marina District  fell. It
turns out most the Marina is a garbage dump made of fill from the
last earthquake in 1906. It is a kind of graveyard of the remains of
those old buildings. It turned to jello during the quake. But here in
North Beach there wasn’t a lot of damage. Is everything OK out
there?”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“That’s
what I wanted to talk to you about.” 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Oh?”
I asked.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">Both
our voices dropped down in pitch a bit. 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">During
those first few days after the quake if you happened to bump into
someone’s table at a restaurant, making it shake as if the floor
were moving, a wave of absolute panic would come over the person’s
face. There is no power like the ground buckling underneath your
feet. It is the power of God, and God has a Hell of sense of humor.
After the earthquake there were 21 aftershocks. God’s version of a
whoopee cushion. God is such a joker.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Why
don’t you come over for a beer?” he asked.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Tonight?”
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Yes,
tonight.”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">So I
did.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">It
started me wondering. Images of his house, the house in which I was
raised, lying in rubble came into my mind as I drove south. A lot of
windows had been broken around the Bay in a lot of houses. I thought
about the big salon-window in the living-room that looks onto the
front yard. It would produce long shards of thick glass that could
cut off a hand, or slice a face. I remembered, as a child of five or
six, I had pushed my mouth and face up against that window pretending
to be a fish in an aquarium at Sea World.  I remember my father
saying: “That will leave a mark. Someone will have to clean it, you
know?” I wondered if the earthquake had left more than a little
grease mark. I wondered if all the fish had been let out of the
aquarium, and were lying dead on the front porch.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">Driving
past the Embarcadero I saw chunks of concrete that lay broken and
twisted to the side of road, exposing the evenly spaced iron re-bar,
like a dead animal, lying on its back, cut open, exposing its ribs,
as if Old Mr. Earthquake had gone hunting for freeways, found one,
killed it and left the corpse lying out in the sun. I remember
thinking that if the earthquake had done all that to the freeway,
what had it done to my father’s little house?</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">But
when I pulled up and knocked on the door, the house seemed fine. The
big bay window was reflecting a brownish yellow glare from the street
light in the front yard. About three feet up from the skirt of bricks
on the porch I saw the spot against which I had pushed my lips and
played fish-in-the-aquarium a long time ago shining like it had just
been cleaned and polished.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Beer?”
he asked. “Let’s go out to the backyard. We can look up at the
stars and hear the crickets,” he said. I walked through the living
room and the kitchen and then out to the back patio, inspecting the
walls, the molding and the ceiling for damage as I went. It was
almost dusk and an unusual shade of red hung in the sky. Blood red
with a little orange mixed in. It was late October and should have
been much colder.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">He
handed me a beer, a Coors. That was his beer. We sat down on two
folding lounge chairs at the edge of the grass, resting our beers on
the circular red metal table at the edge of the concrete and looked
up at the sky. The grass smelled as if it had been freshly cut.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">I
inspected the stucco on the back of the house for problems.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“The
house seems fine,” I said.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“It
is. There is a crack in the drywall of one or the bedrooms, but I can
fix that.”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“That’s
a relief.”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“We
hardly felt it. A little shaking … that’s all.”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“I
was worried.” 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">My
eyes had been preoccupied with the house, and I hadn’t really taken
a good look at him, but now for the first time I looked at his face
and it scared me. It was gaunt, and his normally ruddy complexion had
turned to a color best described as ash. There was  a sallowness to
his face that surfaced in patches and seemed to float around like
driftwood on that sea of gray. I guessed he had lost 70 pounds,
perhaps more, since I had last scene him, which had been several
years.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“There
are some things I wanted to talk to you about, that’s all. Things
you should know.”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">He
looked up at the sky.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“I
hate being dramatic,” he said.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">He
had always been very stocky. His jeans were perennially stretched
about the thigh, but now they were bunched up around the plaid nylon
fabric of the lounge chair. I could have grabbed a handful of excess
material. I could have grabbed two. He was wearing a navy blue button
up short sleeve shirt, and the  cloth seemed to fall straight down
from his shoulders and collect around his belt. I had never seen a
shirt hang on him that way.  I didn’t know why I hadn’t noticed
it when I had first walked into the house. 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“What
is it?” I asked.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">He
took a big breath.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“There
are some logistics we need to talk about. Then there are some
personal things …” 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">All
of a sudden, I realized something was very wrong. 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Did
anything fall on you?” 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">I
knew the answer before I had asked the question. The transformation I
was seeing had been a long time coming. It hadn’t  happened in a
couple of days. It was a ridiculous  question, and I knew it as soon
as I felt the words escaping from my mouth.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“No.
The house shook a little. To tell you the truth I didn’t think
anything of it until I turned on the TV that night.”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">I
nodded. 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">The
day had almost turned into night by then, but that red, swollen,
irritated sky refused to leave. It should have been cold, but it
wasn’t. It should have been windy, but it wasn’t. October is
normally a breezy month in the Bay. Heat from the central valley
sucks the cold air coming off the ocean eastward. It is one of the
reasons sailing is so well regarded in the Bay. I had began to hear
people call it earthquake weather.  Some had began to call these
calm, blood red, windless skies “earthquake skies.” It was too
warm. Too quiet. Too calm. People had began to speculate that this
strange weather had produced the earthquake. Something to do with an
abundance of magnetic ions within the earth's crust. I’m still not
clear if the ions were suppose to be the symptom or the cause.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Then
what is it?” I asked.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">He
shook his head and then looked up at the sky. It was a beautiful sky.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“The
big C.”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“The
big C?” 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Cancer,”
he said. “Just Cancer.”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">He
smiled.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">I
realized without ever thinking about it, I had assumed that he would
live forever. It was an assumption I had made at a very young age and
never gotten around to revising.  
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">It
felt like someone had turned on a blender inside my gut. It is a
moment I will remember for the rest of my life because I froze. I
turned into a block of ice right there in my chair. I didn’t know
how to respond. I didn’t know if I should be sad or encouraging or
hopeful or regretful or concerned or angry or empathetic. Finally, I
chose hopeful. It was really more or less a random choice.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Now
days there are amazing things they can do … treatments,” I said.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">He
smiled and shook his head. 
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“No.”
</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Why?”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“Already
tried.”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">“They
are coming up with new things all the time ...”</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">He
just shook his head.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%">No
one said anything for awhile. I wanted to ask what he meant exactly.
Was he dying? Did he have one month, ten months, five years? But I
kept quiet. It was his party. His show. His sky ... that warm evening
in October.</p>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="justify">“There are some things I need to tell you,” he
said. I was still in shock, but from his tone, he seemed to be
talking about mowing lawns, or giving directions to the supermarket.
The last of the bloody redness in the west was leaking out of the
sky.</p>
<p align="justify">“OK,” I said.</p>
<p align="justify">“Not now.  It's not the right time.  It has to
be the right moment ...”</p>
<p align="justify">“All right.” 
</p>
<p align="justify">“Important things. I should warn you … you
might not like what I have to say,” he said.</p>
<p align="justify">I nodded.</p>
<p align="justify">It is hardly ever warm like that in late October.
It could even have been November at that point. To tell you the truth
I can’t be sure. Shock has a way of fiddling with memory, bending
it a little, but I believe it was still October at that point.</p>
<p align="justify">I remember the stars came out and we stared up at
them for a long time without saying anything. It was the same sky I
remembered from my childhood. I had always assumed it would never
change. But at that moment I wasn’t sure if it would be there the
next evening. Everything seemed to be going to Hell in those last few
weeks of October. 
</p>
<p>I had read somewhere that it takes millions of years for the light
of a star to reach this planet. So what we are seeing when we look up
in the sky is millions of years old. It was like that with our
relationship as well, it took a long time for the light to reach us.
I think in the very we saw it, saw the light, so to speak, at least I
would like to think so. I told him I would be back the next weekend,
and the week-end after that, and the week-end after that. And I was.</p>
<p align="justify">It was still “earthquake weather” as I  drove
back from one of those evenings to the City. It was hot, and my
window was down as I drove north on 17 through the Santa Cruz
mountains. I took a hard turn to the right and my headlights caught a
flash of something. At first it was just a thing in the road. A brown
and blue thing. An old rug. A dead dog. Perhaps a chair. Then it
became more than a thing. Then it became a human being. And then a
woman. Then a big hipped blond beautiful  human being in jeans lying
in the middle of the road in a puddle, and I slammed on my breaks as
hard as I could. The car skidded. And for a good two or three
seconds, I was sure I was going to hit her. When the car finally
stopped about five feet away from her,  I sat the driver’s seat
trying to catch my breath for a second.  I turned on my hazards and
got out of my car. The woman was lying in a puddle of something. It
hadn’t rained for a couple of months,  and I bent down to examine
the liquid. I put my finger in it. It was warm. Then I realized what
that liquid was. It was blood. 
</p>
<p align="justify">A car passed us on the left, missing my right door
by inches. The driver pressed hard into his horn and the car rounded
the bend, honking all the way, shaking his fist at me. I was going to
get hit. We were going to get hit.</p>
<p align="justify">There was no place to pull off the road  as the
asphalt came up to  little curb to the right and then dropped off to
a shallow ditch.  So I just left the car where it was and picked up
the woman like a baby. That's when I noticed all the blood coming
from the back of her head. From the front, you couldn’t see a
scratch on her. She looked like a Swedish model, like an Anika
Eckberg in the old Fellini films, but even in the dark I could see
all the wet black stuff coming from the back of head that I knew
wasn't suppose to be there. She was about 35, I guessed, big hips,
wide shoulders,  blond hair down to her waist. She was wearing an old
pair  of  blue jeans, a red bandanna and cowboy boots. She looked
kind of like a Swedish cowgirl. I didn't want to move her, but I knew
any minute a car would bust around the bend and take us both out. So
I picked her up and carried her off the road, up a little knoll and
into the bushes where there was a flat area. Then I laid her down as
carefully as I could, trying to find some ferns to put behind her
head so that the hole in the back of her skull would not pick up any
dirt or rocks or redwood needles.</p>
<p align="justify">I ran back to my car and drove it right off the
road into the little  ditch about foot and a half deep to the right
of the highway, wondering how the hell I was ever going to get my car
out again, but It was the only thing I could do. Then I scampered
back up the bushy incline to where I had left the woman. She was
gone. It was a heavily forested area, big redwoods, manzanita, sword
ferns, huckleberry all around. Inside that wilderness all you could
see were shadows and darkness, and  I wondered if I had found the
right spot. I felt around in the darkness and finally found the
little pile of ferns I had used as a cushion for her head. The blood
had pasted the fronds together and was beginning to dry. It was so
dark all I could see was shadows, shadows and more shadows. I
listened. I waited.  I sat as still as I could. I could hear cars
whizzing by on the road down below, and each time a little light
would find its way up the hill. I listened some more. No footsteps.
No moaning. No rustling of leaves. 
</p>
<p align="justify">I begin to think I might have imagined the whole
thing. Where could she have gone? It was so damn dark she could have
been standing right next to me and I wouldn't have seen her. I
listened some more. Then I whispered into the redwood scented air.</p>
<p align="justify">“Is anyone there?” 
</p>
<p align="justify">Nobody answered. I tried again, a little louder
this time. I don't know why I was whispering. I should have been
shouting, but I suppose I was afraid … afraid of whatever might be
hiding in those shadows. 
</p>
<p align="justify">I was getting the spooks, feeling around in the
dark for my new Swedish friend. There are a lot of big animals in
those woods: mountain lion, deer, raccoon, coyotes, rats,
rattlesnakes, not to mention the all dead Swedish people that vanish
into the night. I had somehow lost, let's just say misplaced, my dead
Swedish cowgirl. I heard a branch snap and stood up. A car drove by
on the road below, tossing a little light up the hill.  All at once,
I realized that I had found my new Swedish friend. She was standing
right in front of me, pointing a pistol at my heart.</p>
<p align="justify"><br/>
<br/>

</p>
{% endblock %}
